In [2]:
import matplotlib.pyplot as plt
import pandas as pd

import config_error_by_period_syntheic as config

In [3]:
def load_csv_data(path: str) -> pd.core.frame.DataFrame:
    """Load CSV dataset as dataframe"""
    return pd.read_csv(path, delimiter=',')

## Case 1

In [4]:
case1_df = load_csv_data(config.case1_error_by_period_path)
case1_df

,1~100,101~200,201~300,301~400,401~500,501~600,601~700,701~800,801~900,901~1000,...,19201~19300,19301~19400,19401~19500,19501~19600,19601~19700,19701~19800,19801~19900,19901~20000,Unnamed: 200,Unnamed: 201
0,2,2.01625,2.01250,2.03500,2.32125,2.17250,1.56750,0.748750,0.52250,0.368750,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9050
1,2,2.01000,2.01375,2.03500,2.32375,2.17625,1.57250,0.753750,0.52750,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9563
2,2,2.01000,2.01750,2.04000,2.32875,2.18125,1.57375,0.753750,0.52750,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9788
3,2,2.02000,2.02500,2.04000,2.32750,2.18125,1.57375,0.753750,0.52625,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9950
4,2,2.00500,2.02125,2.13000,2.23000,2.03000,1.40125,0.553750,0.44125,0.340000,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.0738
5,2,2.01250,2.01750,2.04375,2.32500,2.17375,1.56875,0.753750,0.52750,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9713
6,2,2.00750,2.00750,2.13000,2.23625,2.03250,1.40375,0.556250,0.44625,0.342500,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.0713
7,2,2.01250,2.02000,2.04000,2.37000,1.95875,1.62375,0.698750,0.53000,0.408750,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.7475
8,2,2.00750,2.01250,2.13875,2.24125,2.04250,1.40375,0.556250,0.44375,0.340000,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.1013
9,2,2.02250,2.02500,2.04500,2.37250,1.95875,1.62000,0.697500,0.53000,0.408750,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.7388
10,2,2.01237,2.01725,2.06775,2.30763,2.09075,1.53088,0.682625,0.50225,0.369375,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.6539

In [5]:
# Get last row using values[] 
case1_df_average = case1_df[-1:]
dim = config.epoch // config.period
case1_df_average.iloc[:, :dim]

,1~100,101~200,201~300,301~400,401~500,501~600,601~700,701~800,801~900,901~1000,...,19001~19100,19101~19200,19201~19300,19301~19400,19401~19500,19501~19600,19601~19700,19701~19800,19801~19900,19901~20000
10,2,2.01237,2.01725,2.06775,2.30763,2.09075,1.53088,0.682625,0.50225,0.369375,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075

# Case 2

In [6]:
case2_df = load_csv_data(config.case2_error_by_period_path)
case2_df

,1~100,101~200,201~300,301~400,401~500,501~600,601~700,701~800,801~900,901~1000,...,19201~19300,19301~19400,19401~19500,19501~19600,19601~19700,19701~19800,19801~19900,19901~20000,Unnamed: 200,Unnamed: 201
0,2.00000,2.10625,2.27500,2.26875,2.06250,1.89375,1.38125,1.24375,1.11875,0.98125,...,0.35000,0.350000,0.35000,0.35000,0.35000,0.35000,0.35000,0.36250,NaN,130.137
1,2.00000,2.15625,2.13125,2.15000,2.25625,2.11250,1.51250,1.15000,0.88125,0.96250,...,0.40000,0.400000,0.40000,0.40000,0.40000,0.40000,0.40000,0.38750,NaN,118.975
2,2.00000,2.11875,2.09375,2.16250,2.02500,2.03750,1.75000,1.46875,1.23125,0.90625,...,0.36250,0.375000,0.58125,0.37500,0.58125,0.37500,0.58125,0.37500,NaN,104.831
3,2.00000,2.20625,2.25000,2.05625,1.99375,2.04375,1.62500,1.22500,1.16250,1.00000,...,0.36875,0.368750,0.36875,0.80625,0.36250,0.42500,0.44375,0.43750,NaN,127.300
4,2.00000,2.14375,2.15000,2.30625,2.13125,1.74375,1.56250,1.25625,0.97500,0.88125,...,0.37500,0.375000,0.37500,0.37500,0.37500,0.37500,0.37500,0.37500,NaN,118.988
5,2.01875,2.11250,2.07500,2.16250,2.31250,2.18125,1.73125,1.26250,1.12500,1.03750,...,0.35000,0.606250,0.49375,0.37500,0.37500,0.35000,0.40000,0.37500,NaN,134.894
6,2.00000,2.11875,2.19375,2.26250,2.13750,1.96250,1.61875,1.23125,1.00625,1.05625,...,0.37500,0.375000,0.63750,0.37500,0.61250,0.39375,0.66250,0.37500,NaN,125.281
7,2.02500,2.31875,2.27500,2.20625,2.04375,1.96250,1.75625,1.40000,1.17500,1.17500,...,0.36250,0.362500,0.36250,0.36250,0.36250,0.36250,0.36250,0.36250,NaN,108.463
8,2.00000,2.18750,2.09375,2.26875,2.20000,1.87500,1.56250,1.40625,1.18750,0.92500,...,0.37500,0.375000,0.37500,0.37500,0.37500,0.38750,0.37500,0.37500,NaN,118.869
9,2.00000,2.15625,2.17500,2.06250,2.16250,1.96875,1.70000,0.98125,1.11250,0.90000,...,0.70625,0.643750,0.68125,0.66875,0.70625,0.64375,0.70000,0.71250,NaN,128.944
10,2.00438,2.16250,2.17125,2.19063,2.13250,1.97813,1.62000,1.26250,1.09750,0.98250,...,0.40250,0.423125,0.46250,0.44625,0.45000,0.40625,0.46500,0.41375,NaN,121.668

In [8]:
# Get last row using values[] 
case2_df_average = case2_df[-1:]
dim = config.epoch // config.period
case2_df_average.iloc[:, :dim]

,1~100,101~200,201~300,301~400,401~500,501~600,601~700,701~800,801~900,901~1000,...,19001~19100,19101~19200,19201~19300,19301~19400,19401~19500,19501~19600,19601~19700,19701~19800,19801~19900,19901~20000
10,2.00438,2.1625,2.17125,2.19063,2.1325,1.97813,1.62,1.2625,1.0975,0.9825,...,0.386875,0.3725,0.4025,0.423125,0.4625,0.44625,0.45,0.40625,0.465,0.41375

# Case 3

In [9]:
case3_df = load_csv_data(config.case3_error_by_period_path)
case3_df

,1~100,101~200,201~300,301~400,401~500,501~600,601~700,701~800,801~900,901~1000,...,19201~19300,19301~19400,19401~19500,19501~19600,19601~19700,19701~19800,19801~19900,19901~20000,Unnamed: 200,Unnamed: 201
0,2,2.01625,2.01250,2.03500,2.32125,2.17250,1.56750,0.748750,0.52250,0.368750,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9050
1,2,2.01000,2.01375,2.03500,2.32375,2.17625,1.57250,0.753750,0.52750,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9563
2,2,2.01000,2.01750,2.04000,2.32875,2.18125,1.57375,0.753750,0.52750,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9788
3,2,2.02000,2.02500,2.04000,2.32750,2.18125,1.57375,0.753750,0.52625,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9950
4,2,2.00500,2.02125,2.13000,2.23000,2.03000,1.40125,0.553750,0.44125,0.340000,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.0738
5,2,2.01250,2.01750,2.04375,2.32500,2.17375,1.56875,0.753750,0.52750,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9713
6,2,2.00750,2.00750,2.13000,2.23625,2.03250,1.40375,0.556250,0.44625,0.342500,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.0713
7,2,2.01250,2.02000,2.04000,2.37000,1.95875,1.62375,0.698750,0.53000,0.408750,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.7475
8,2,2.00750,2.01250,2.13875,2.24125,2.04250,1.40375,0.556250,0.44375,0.340000,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.1013
9,2,2.02250,2.02500,2.04500,2.37250,1.95875,1.62000,0.697500,0.53000,0.408750,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.7388
10,2,2.01237,2.01725,2.06775,2.30763,2.09075,1.53088,0.682625,0.50225,0.369375,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.6539

In [10]:
# Get last row using values[] 
case3_df_average = case3_df[-1:]
dim = config.epoch // config.period
case3_df_average.iloc[:, :dim]

,1~100,101~200,201~300,301~400,401~500,501~600,601~700,701~800,801~900,901~1000,...,19001~19100,19101~19200,19201~19300,19301~19400,19401~19500,19501~19600,19601~19700,19701~19800,19801~19900,19901~20000
10,2,2.01237,2.01725,2.06775,2.30763,2.09075,1.53088,0.682625,0.50225,0.369375,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075

# Case 4

In [11]:
case4_df = load_csv_data(config.case4_error_by_period_path)
case4_df

,1~100,101~200,201~300,301~400,401~500,501~600,601~700,701~800,801~900,901~1000,...,19201~19300,19301~19400,19401~19500,19501~19600,19601~19700,19701~19800,19801~19900,19901~20000,Unnamed: 200,Unnamed: 201
0,2,2.01625,2.01250,2.03500,2.32125,2.17250,1.56750,0.748750,0.52250,0.368750,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9050
1,2,2.01000,2.01375,2.03500,2.32375,2.17625,1.57250,0.753750,0.52750,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9563
2,2,2.01000,2.01750,2.04000,2.32875,2.18125,1.57375,0.753750,0.52750,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9788
3,2,2.02000,2.02500,2.04000,2.32750,2.18125,1.57375,0.753750,0.52625,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9950
4,2,2.00500,2.02125,2.13000,2.23000,2.03000,1.40125,0.553750,0.44125,0.340000,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.0738
5,2,2.01250,2.01750,2.04375,2.32500,2.17375,1.56875,0.753750,0.52750,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9713
6,2,2.00750,2.00750,2.13000,2.23625,2.03250,1.40375,0.556250,0.44625,0.342500,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.0713
7,2,2.01250,2.02000,2.04000,2.37000,1.95875,1.62375,0.698750,0.53000,0.408750,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.7475
8,2,2.00750,2.01250,2.13875,2.24125,2.04250,1.40375,0.556250,0.44375,0.340000,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.1013
9,2,2.02250,2.02500,2.04500,2.37250,1.95875,1.62000,0.697500,0.53000,0.408750,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.7388
10,2,2.01237,2.01725,2.06775,2.30763,2.09075,1.53088,0.682625,0.50225,0.369375,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.6539

In [12]:
# Get last row using values[] 
case4_df_average = case4_df[-1:]
dim = config.epoch // config.period
case4_df_average.iloc[:, :dim]

,1~100,101~200,201~300,301~400,401~500,501~600,601~700,701~800,801~900,901~1000,...,19001~19100,19101~19200,19201~19300,19301~19400,19401~19500,19501~19600,19601~19700,19701~19800,19801~19900,19901~20000
10,2,2.01237,2.01725,2.06775,2.30763,2.09075,1.53088,0.682625,0.50225,0.369375,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075