In [1]:
import matplotlib.pyplot as plt
import pandas as pd

import config_error_by_period_syntheic as config

In [2]:
def load_csv_data(path: str) -> pd.core.frame.DataFrame:
    """Load CSV dataset as dataframe"""
    return pd.read_csv(path, delimiter=',')

## Case1

In [3]:
case1_df = load_csv_data(config.case1_error_by_period_path)
case1_df

,1~100,101~200,201~300,301~400,401~500,501~600,601~700,701~800,801~900,901~1000,...,19201~19300,19301~19400,19401~19500,19501~19600,19601~19700,19701~19800,19801~19900,19901~20000,Unnamed: 200,Unnamed: 201
0,2,2.01625,2.01250,2.03500,2.32125,2.17250,1.56750,0.748750,0.52250,0.368750,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9050
1,2,2.01000,2.01375,2.03500,2.32375,2.17625,1.57250,0.753750,0.52750,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9563
2,2,2.01000,2.01750,2.04000,2.32875,2.18125,1.57375,0.753750,0.52750,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9788
3,2,2.02000,2.02500,2.04000,2.32750,2.18125,1.57375,0.753750,0.52625,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9950
4,2,2.00500,2.02125,2.13000,2.23000,2.03000,1.40125,0.553750,0.44125,0.340000,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.0738
5,2,2.01250,2.01750,2.04375,2.32500,2.17375,1.56875,0.753750,0.52750,0.371250,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.9713
6,2,2.00750,2.00750,2.13000,2.23625,2.03250,1.40375,0.556250,0.44625,0.342500,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.0713
7,2,2.01250,2.02000,2.04000,2.37000,1.95875,1.62375,0.698750,0.53000,0.408750,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.7475
8,2,2.00750,2.01250,2.13875,2.24125,2.04250,1.40375,0.556250,0.44375,0.340000,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.1013
9,2,2.02250,2.02500,2.04500,2.37250,1.95875,1.62000,0.697500,0.53000,0.408750,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.7388
10,2,2.01237,2.01725,2.06775,2.30763,2.09075,1.53088,0.682625,0.50225,0.369375,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,NaN,37.6539

In [7]:
# Get last row using values[] 
case1_df_average = case1_df[-1:]
dim = config.epoch // config.period
case1_df_average.iloc[:, :dim]

,1~100,101~200,201~300,301~400,401~500,501~600,601~700,701~800,801~900,901~1000,...,19001~19100,19101~19200,19201~19300,19301~19400,19401~19500,19501~19600,19601~19700,19701~19800,19801~19900,19901~20000
10,2,2.01237,2.01725,2.06775,2.30763,2.09075,1.53088,0.682625,0.50225,0.369375,...,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075,0.1075