In [1]:
from typing import List

import matplotlib.pyplot as plt
import pandas as pd
import config

In [2]:
nTrial = 10

In [3]:
def loadCsvData(path):
    """Load CSV dataset as dataframe"""
    return pd.read_csv(path, delimiter=',')

In [4]:
df = loadCsvData(config.predict_results_path)
df.head()

,Unnamed: 0,TRUE,Unnamed: 2,1,2,3,4,5,6,7,8,9,10,Unnamed: 13
0,1,4859.15,NaN,4859.15,4859.15,4859.15,4859.15,4859.15,4859.15,4859.15,4859.15,4859.15,4859.15,NaN
1,2,4773.22,NaN,4773.22,4773.22,4773.22,4773.22,4773.22,4773.22,4773.22,4773.22,4773.22,4773.22,NaN
2,3,4730.26,NaN,4730.26,4730.26,4730.26,4730.26,4730.26,4730.26,4730.26,4730.26,4730.26,4730.26,NaN
3,4,4687.30,NaN,4687.30,4687.30,4687.30,4687.30,4687.30,4687.30,4687.30,4687.30,4687.30,4687.30,NaN
4,5,4579.89,NaN,4579.89,4579.89,4579.89,4579.89,4579.89,4579.89,4579.89,4579.89,4579.89,4579.89,NaN

In [5]:
df.tail(20)

,Unnamed: 0,TRUE,Unnamed: 2,1,2,3,4,5,6,7,8,9,10,Unnamed: 13
829811,414896,NaN,NaN,0.000,0.000,0.000,0.000000e+00,0.000,0.000,0.000,0.000,0.000,0.000,NaN
829812,414897,NaN,NaN,42.964,42.964,42.964,4.296400e+01,42.964,42.964,85.928,42.964,42.964,42.964,NaN
829813,414898,NaN,NaN,42.964,64.446,64.446,6.444600e+01,64.446,64.446,42.964,42.964,42.964,64.446,NaN
829814,414899,NaN,NaN,42.964,64.446,64.446,6.444600e+01,64.446,64.446,64.446,42.964,42.964,64.446,NaN
829815,414900,NaN,NaN,64.446,64.446,107.410,1.074100e+02,64.446,64.446,64.446,64.446,64.446,85.928,NaN
829816,414901,NaN,NaN,64.446,85.928,64.446,6.444600e+01,85.928,64.446,85.928,64.446,64.446,85.928,NaN
829817,414902,NaN,NaN,64.446,64.446,107.410,6.444600e+01,107.410,107.410,107.410,107.410,107.410,64.446,NaN
829818,414903,NaN,NaN,107.410,107.410,85.928,1.288920e+02,85.928,128.892,85.928,128.892,128.892,128.892,NaN
829819,414904,NaN,NaN,107.410,107.410,107.410,1.503740e+02,128.892,107.410,107.410,107.410,171.856,128.892,NaN
829820,414905,NaN,NaN,171.856,107.410,107.410,1.074100e+02,107.410,107.410,107.410,107.410,107.410,107.410,NaN
829821,414906,NaN,NaN,128.892,128.892,21.482,1.288920e+02,85.928,171.856,85.928,150.374,128.892,150.374,NaN
829822,414907,NaN,NaN,64.446,21.482,21.482,1.718560e+02,128.892,64.446,21.482,128.892,128.892,64.446,NaN
829823,414908,NaN,NaN,128.892,107.410,107.410,4.296400e+01,42.964,150.374,42.964,128.892,21.482,107.410,NaN
829824,414909,NaN,NaN,150.374,21.482,150.374,2.148200e+01,193.338,128.892,21.482,21.482,150.374,171.856,NaN
829825,414910,NaN,NaN,150.374,107.410,150.374,9.094950e-13,107.410,150.374,150.374,150.374,150.374,150.374,NaN
829826,414911,NaN,NaN,214.820,21.482,214.820,2.148200e+02,150.374,214.820,214.820,150.374,214.820,64.446,NaN
829827,414912,NaN,NaN,171.856,42.964,171.856,4.296400e+01,42.964,257.784,257.784,42.964,150.374,42.964,NaN
829828,414913,NaN,NaN,193.338,257.784,193.338,1.288920e+02,21.482,193.338,193.338,193.338,236.302,193.338,NaN
829829,414914,NaN,NaN,64.446,171.856,42.964,4.296400e+01,64.446,64.446,64.446,64.446,171.856,171.856,NaN
829830,414915,NaN,NaN,42.964,279.266,64.446,2.792660e+02,193.338,42.964,193.338,85.928,279.266,193.338,NaN

In [6]:
df.iloc[414911:414920]

,Unnamed: 0,TRUE,Unnamed: 2,1,2,3,4,5,6,7,8,9,10,Unnamed: 13
414911,414912,5933.25,NaN,5997.700,5868.800,5997.700,5868.800,5868.800,6083.620,6083.620,5868.800,5976.210,5868.800,NaN
414912,414913,5825.84,NaN,5933.250,5997.700,5933.250,5868.800,5718.430,5933.250,5933.250,5933.250,5976.210,5933.250,NaN
414913,414914,5739.91,NaN,5718.430,5825.840,5611.020,5696.950,5718.430,5718.430,5718.430,5718.430,5825.840,5825.840,NaN
414914,414915,5653.98,NaN,5589.540,5825.840,5611.020,5825.840,5739.910,5589.540,5739.910,5632.500,5825.840,5739.910,NaN
414915,414916,5546.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414916,1,NaN,NaN,85.928,85.928,85.928,85.928,85.928,85.928,85.928,85.928,85.928,85.928,NaN
414917,2,NaN,NaN,42.964,42.964,42.964,42.964,42.964,42.964,42.964,42.964,42.964,42.964,NaN
414918,3,NaN,NaN,42.964,42.964,42.964,42.964,42.964,42.964,42.964,42.964,42.964,42.964,NaN
414919,4,NaN,NaN,107.410,107.410,107.410,107.410,107.410,107.410,107.410,107.410,107.410,107.410,NaN

In [7]:
df.shape[0]

829831